*{
    margin-left: 20px;
    margin-top: 20px;
}
.is-done{
    text-decoration: line-through;
}

tr{
    height: 50px;
    text-align: left;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
}

p{
    line-height: 50px;
}